/*--------------------------------------------------------------
### block__body
--------------------------------------------------------------*/
.block__body {
  align-content: inherit;
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  position: relative;
  width: 100%;
}
