/*--------------------------------------------------------------
### block__img--slider
--------------------------------------------------------------*/
.block__img--slider {
  user-select: none;
  overflow: visible; // show buttons outside wrap

  .swiper-slide {

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
