/*--------------------------------------------------------------
### block__img--icon
--------------------------------------------------------------*/
.block__img--icon {

  img {
    object-fit: contain;
    width: auto;
  }

  &.pad {
    padding: var(--global--padding);
  }
}
