/* Color Options
--------------------------------------------- */

@each $name, $color in $brand_colors {

	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}
}
