
// Style-1

.has-style-1 {

  &.row {
    background-color: var(--theme--style-1-bg);
    color: var(--theme--style-1-text);
  }

  .block {

    h2, h3, h4 {
      color: var(--theme--style-1-titles);
    }
    p, li {
      color: var(--theme--style-1-text);

      &::before,
      &::after {
        color: inherit;
      }
    }
  }

  blockquote {
    background-color: var(--theme--style-1-text);
    border-left: solid 2px var(--theme--style-1-border);
    border-bottom: solid 1px var(--theme--style-1-border);
  }

}

@import "style-1-blocks";
@import "style-1-previews";
