
/* Single
---------------------------------------------------------------------------------------------------- */

.single {

  .wrap-content {

    .site-main {
      > * {
        margin-left: auto;
        margin-right: auto;
        max-width: var(--global-alignwide);
      }
    }
  }

  .related-posts {
  	@include bp-min($small) {
  		display: grid;
  		grid-template-columns: repeat( 3, 1fr );
  		grid-column-gap: 16px;

  		header {
  			grid-column: 1 / -1;
  		}
  	}
  }
}
