
/* Button
--------------------------------------------- */
// note: .button is the style class, .btn is layout

@mixin button() {
  background-color: var(--button--color-back);
  border: var(--button--border-width) solid transparent;
  border-radius: var(--button--border-radius);
  color: var(--button--color-text);
  cursor: pointer;
  display: inline-block;
  font-size: var(--button--font-size);
  padding: var(--button--padding-ver) var(--button--padding-hor);
  //text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;

  .clickable:hover &.click,
  &:hover {
    background-color: var(--button--color-back-hover);
    border-bottom-color: var(--button--color-back-active);
    color: var(--button--color-text-hover);
  }

  .clickable:active &.click,
  &:active {
    background-color: var(--button--color-back-active);
    border-bottom: var(--button--border-width) solid var(--button--color-back-active);
    color: var(--button--color-text-active);
  }

}


.button {
  @include button();

  &:focus {
    outline: 0;
  }
}
