
/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $grey_10;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 16px;

	a {
		color: $grey_10;

		&:hover {
			color: $highlight;
			text-decoration: none;
		}
	}

	&:focus {
		outline: none;
	}
}

h1 {
  font-size: var(--global--font-size-h1);
}

h2 {
	font-size: var(--global--font-size-h2);
}

h3 {
	font-size: var(--global--font-size-h3);
}

h4, h5, h6 {
	font-size: var(--global--font-size-h4);
}
