
/* Paragraph
--------------------------------------------- */

p {
	margin: 0 0 var(--global--text-margin);
	padding: 0;

	&.large {
		font-size: var(--global--font-size-large);
	}

	&.small {
		font-size: var(--global--font-size-small);
	}
}
