/*--------------------------------------------------------------
## Row-padding
==============================================================*/
.row {
  padding-top: $row_pad_s;
  padding-bottom: $row_pad_s - $grid_gut;
  @include bp-min($small) {
    padding-bottom: $row_pad_m - $grid_gut;
  }
  @include bp-min($medium) {
    padding-top: $row_pad_l;
    padding-bottom: $row_pad_l - $grid_gut;
  }

  .row {
    padding: 0;
  }

  &.has-img-repeat,
  &.has-img {
    padding-bottom: $row_pad_s;

    @include bp-min($small) {
      padding-bottom: $row_pad_m;
    }
    @include bp-min($medium) {
      padding-bottom: $row_pad_l;
    }
  }

  &.is-compact {
    padding-top: $grid_space * 2;
    padding-bottom: ($grid_space * 2) - $grid_gut;

    &.row--previews {
      padding-top: $grid_space * 2;
      padding-bottom: ($grid_space * 2) - $grid_gut_prev;
    }
  }

}

// remove top padding for equal rows
// two times has-bg
.has-bg + .has-bg,
.has-img-repeat + .has-img-repeat,
// two times style-1
.has-style-1 + .has-style-1 {
  padding-top: 0;
}

// two rows without styles
.row:not(.has-bg):not(.has-style-1):not(.has-img) + .row:not(.has-bg):not(.has-style-1):not(.has-img) {
  padding-top: 0;
}
.page-header:not(.has-bg):not(.has-style-1):not(.has-img) + .page-content > .row:first-of-type:not(.has-bg):not(.has-style-1):not(.has-img) {
  padding-top: 0;
}
.page-header.has-bg + .page-content > .row:first-of-type.has-bg {
  padding-top: 0;
}
