
/* Row
--------------------------------------------- */

.row {
  max-width: 100%;
  margin-top: var(--global--spacing-vertical);

  &.is-tall {
    @include row-pad-mobile($row_pad_s + 1rem);
    @include row-pad-tablet-up($row_pad_m + 2rem);
    @include row-pad-desktop($row_pad_l + 4rem);
  }

  &.is-compact {
    @include row-pad-mobile(1rem);
    @include row-pad-tablet-up(2rem);
    @include row-pad-desktop(2rem);
  }

  &.has-bg {
    background-color: #eee;
  }

  &.has-bg {
    padding-top: var(--global--spacing-vertical);
    padding-bottom: var(--global--spacing-vertical);
    &:first-child {
      margin-top: 0;
    }
  }

  &.has-img {
    padding-top: var(--global--spacing-vertical);
    padding-bottom: var(--global--spacing-vertical);
    &:first-child {
      margin-top: 0;
    }
  }

  &:first-child {
    //margin-top: 0;
  }

  &:last-child {
    margin-bottom: var(--global--spacing-vertical);
  }

  &.has-bg + .has-bg,
  &.has-img + .has-img,
  &.has-style-1 + .has-style-1 {
    margin-top: 0;
    padding-top: 0;
  }

  &.has-bg + .has-img,
  &.has-img + .has-bg {
    margin-top: 0;
  }
}
